<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pasword Vault</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="passWordTitle">

        <h1>My Password Manager</h1>
        
        


    </div>


    <div class="indexHomePage">
        
        <button onclick="window.location.href='/signup'">Go to signup page</button> 

        <button onclick="window.location.href='/login'">Go to login page</button>
        

    </div>
    
        </body>
    </html>
</div>