<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pasword Vault</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="logincontent">

        <!-- shows the login  function  -->
        <div id="displayLogin" class="displayLogin"> 
            <h2> login</h2>

            <form id= "userLogin">

                <div>
                    <label for="usernameLogin"> Enter a Username</label>
                    <br />
                    <input type="text" name="usernameLogin" id="usernameLogin" value="" placeholder="input a username">
                </div>

                <div>
                    <label for="userPasswordLogin">Enter a Password</label>
                    <br />
                    <input type="password" name="userPasswordLogin" id="userPasswordLogin" value="" placeholder="input a password"> 
                </div>
                <button id="LoginBtn" type="Submit" value="Submit"> submit</button>
             
        </div>
</body>
</html>
        
  