<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pasword Vault</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="signupcontent">

        <!-- shows the sign up function  -->
        <div id="displaySignUp" class="displaySignUp"> 
            <h2> Sign up</h2>

            <form id= "userSignup">

                <div>
                    <label for="usernameSignup"> Enter a Username</label>
                    <br />
                    <input type="text" name="usernameSignup" id="usernameSignup" value="" placeholder="input a username">
                </div>

                <div>
                    <label for="userPasswordSignup">Enter a Password</label>
                    <br />
                    <input type="password" name="userPasswordSignup" id="userPasswordSignup" value="" placeholder="input a password"> 
                </div>
                <button id="SignupBtn" type="Submit" value="Submit"> submit</button>
            </form> 
        </div>
</body>
</html>