<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Pasword Vault</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class = "vaultcontent">

        <button onclick="window.location.href='http://127.0.0.1:5000'">Logout</button>

        <h1>Password Vault</h1>

        



        <!-- Button to add a new password -->
        <!-- <button id="add-password-btn">Add New Password</button> -->

        <!-- Modal to add a new password -->
        <div id="add-password-modal" class="modal">
            <div class="modal-content">
                
                <h2>Add New Password</h2>
                <form id="add-password-form" action="/add" method="post">
                    <label2 for="service"> Website: </label2>
                    <input type="text" id="service" name="website" required><br>
                    
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required><br>
                    
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required><br>
                    
                    <button type="submit">Add Password</button>
                </form>

                
        <!-- Table displaying the user's passwords -->
        <table class="password-table">
            <thead>
                <tr>
                    <th>Service |</th>
                    <th>Username |</th>
                    <th>Password |</th>
                    <th>Actions |</th> <!--(will be button to remove)-->
                </tr>
            </thead>
            <tbody>
                {% for row in passwords %}
                <tr>
                    <td>{{row[3]}}</td>
                    <td>{{row[1]}}</td>
                    <td>{{row[2]}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>


            </div>
    
    </div>
    

</body>
</html>